// Fonts
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'bootstrap-icons/font/bootstrap-icons.css'; 

body {
font-family: 'Roboto', sans-serif;
}

.btn-custom {
    border-radius: 10px;
    background: #fff;
    min-width: 100px;
    color: #212529;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.btn-custom:hover,
.btn-custom:focus {
    opacity: .85;
    color: rgba(33, 37, 41, .85);
}
.dropstart .dropdown-toggle::before,
.dropdown-toggle::after {
    display: none;
}

.dropdown-menu li {
    position: relative;
}

.nav-item .submenu {
    display: none;
    position: absolute;
    right: 100%;
    top: -7px;
}

.dropdown-menu>li:hover>.submenu {
    display: block;
}

@media (min-width: 768px) {
    .header {
        height: 10vh;
    }
    .main {
        height: 80vh;
    }
    .footer {
        height: 10vh;
    }
}

@media (max-width: 360px) {
    .navbar-brand img,
    .navbar-brand {
        width: 80%;
    }
}
