@import 'app';

.canvas-container {
    margin: auto;
}

.main-tools .btn.active {
    color: #fff;
    background-color: #424649;
    border-color: #424649;
}

.bi-hexagon-fill::before {
    transform: rotate(90deg);
}

input[type="color"] {
    -webkit-appearance: none;
    border: 1px solid #495057;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  @media (max-width: 767px) {
    .toolbar {
        transform: rotate(-90deg) scale(.8);
    }
    .toolbar i::before,
    .toolbar svg {
        transform: rotate(90deg);
    }
    .toolbar-wrapper {
      width: 100vw;
      max-height: 120px;
      min-height: 22px;
      padding-left: 0 !important;
      justify-content: left !important;
    }
    .btn-custom#remove,
    .btn-custom#clear {
      width: 40px !important;
      min-width: auto !important;
      display: inline-block;
    }
    .toolbar #zoom {
      display: block !important;
    }
    main {
      min-height: 80vh;
    }
}